@import './base/global';

* {
    // border: 2px solid black;
}

.intro-container { 
    position: absolute;
    right: 0;
    left: 0; 
    top: 50%;
    transform: translateY(-50%);
    color: rgba(36, 36, 36, 0.687);
    text-align: center;
    font-size: 1.5rem;
    display: none; 

    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

        .name {
            font-weight: bold;
            margin-bottom: 30px;
            letter-spacing: 1.5px;
        }

        .text-content {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .button-text {
            position: relative;
            cursor: pointer;
            display: inline-block;
            min-width: 200px;
            margin-top: 30px;
            overflow: hidden;
            font-weight: 700;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.2rem;
            color: rgba(36, 36, 36, 0.687);
        }

        .button-text:hover {
            color: #e1e1e1;    
        }
} 


  
 
.x-mark {
    right: 10px;
    top: 10px;
    position: absolute;
    cursor: pointer;
    opacity: 0;

    &:hover {
        .right {
            transform: rotate(-45deg) scaleY(1.2);
        }
        .left {
            transform: rotate(45deg) scaleY(1.2);
        }
    }

        .container {
            position: relative;
            width: 20px;
            height: 20px;
        }

        .left,
        .right {
            width: 2px;
            height: 20px;
            background: white;
            position: absolute;
            border-radius: 3px;
            transition: 0.15s ease-out;
            margin: 0 auto;
            left: 0;
            right: 0;
        }

        .right {
            transform: rotate(-45deg);
        }

        .left {
            transform: rotate(45deg);
        }
}



.sky-container {
    position: absolute;
    color: white; 
    text-transform: uppercase;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 2%;
    text-align: center;
    opacity: 0;


    &__left,
    &__right {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;

            h2 {
                font-family: 'brandon-grotesque', sans-serif;
                font-size: 26px;
                line-height: 26px;
                margin: 0;

            }
    }

    &__left {
        margin-right: 5px;
    }

    .thirty-one {
        letter-spacing: 4px;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}