* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plain", sans-serif;
  letter-spacing: 0.01em;
  font-weight: 200;
}

a {
  text-decoration: none;
  transition: all .15s ease;
  color: black;
  padding-bottom: 5px;
}

